<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message%></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name , class: "form-control" , placeholder: "First Name" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" , placeholder: "Last Name"  %>
  </div>

  <div class="field form-group">
    <%= form.label :emial %>
    <%= form.text_field :emial, class: "form-control" ,placeholder: "join@gmail.com" %>
  </div>

  <div class="field form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone , class: "form-control", placeholder: "099999999" %>
  </div>

  <div class="field form-group">
    <%= form.label :twitter %>
    <%= form.text_field :twitter , class: "form-control" , placeholder: "@jon"  %>
  </div>

  <div class="field form-group">
    <%= form.hidden_field :user_id,  id: :friend_user_id , class: "form-control" , 
    value: current_user.id %>
  </div>


  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
